{% extends "teacher/base.html" %}

{% block content %}
<div class="card">


     <div class="card-body">
         <h5 class="card-header bg-info text-white">Welcome {{ user.username }} to the teacher's dashboard!</h5>
         <a class="btn btn-primary mb-3 ms-3 mt-5" href="{% url 'teacher:create_class' %}">Create Class</a>
         <a class="btn btn-primary mb-3 ms-3 mt-5" href="{% url 'teacher:create_lesson' %}">Create Lesson</a>
         <a class="btn btn-primary mb-3 ms-3 mt-5" href="{% url 'teacher:create_question' %}">Create Question</a>
     </div>


     
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Your Classes</h5>
            <ul class="list-group">
                {% for class in classes %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ class.name }}
                        <a class="btn btn-primary" href="{% url 'teacher:assign_student' class.id %}">Assign Students</a>
                    </li>
                {% empty %}
                    <li class="list-group-item">No classes available</li>
                {% endfor %}
            </ul>
        </div>
    </div>

     
 </div>
{% endblock %}